{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WBS Manager</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <header>
    <h1><a href="/">김찬호</a></h1>
    <nav>
      <a href="/projects/">프로젝트</a>
      <a href="/tasks/">작업</a>
      <a href="/reports/">업무 현황</a>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
